workflows/Workflow 2 - RCA Engine - FIXED.json
{
  "name": "Workflow 2 - RCA Engine - FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pipeline-failure",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        -960
      ],
      "id": "2a26f78e-566c-457b-95ef-b16321237a42",
      "name": "Webhook",
      "webhookId": "7dd0990a-e517-4042-ae8f-f742e1e7db2b"
    },
    {
      "parameters": {
        "jsCode": "const log = $json.body.log;\n\nreturn [\n  {\n    json: {\n      text: log,\n      pipeline_id: $json.body.pipeline_id,\n      status: $json.body.status\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -960
      ],
      "id": "7ac389e3-5d94-41fa-a562-213a7b051cfc",
      "name": "Chunk logs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content.parts.0.text",
              "value": "={{ $json.text || \"Empty log\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        -960
      ],
      "id": "b929ac68-fc33-4996-bd89-80bd4200efa8",
      "name": "Gemini Embeddings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_PINECONE_INDEX_HOST/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "YOUR_PINECONE_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($node[\"Gemini Embeddings\"].json.embedding.values) }},\n  \"topK\": 1,\n  \"includeMetadata\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        -960
      ],
      "id": "488cf76d-cfd2-43dc-85a2-91c654fabf31",
      "name": "Pinecone Query"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "=[ALERT] Pipeline RCA - {{$node[\"Chunk logs\"].json.pipeline_id}}",
        "emailType": "text",
        "message": "=Pipeline Failure Detected\n\nPipeline ID:\n{{$node[\"Chunk logs\"].json.pipeline_id}}\n\nStatus:\n{{$node[\"Chunk logs\"].json.status}}\n\n----------------------------------\n\nAI ROOT CAUSE ANALYSIS\n\n{{$json.candidates[0].content.parts[0].text}}\n\n----------------------------------\n\nGenerated By:\nAI Pipeline Root Cause Assistant",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1424,
        -672
      ],
      "id": "36d83576-7fde-4032-bfa8-78efe0490060",
      "name": "Send a message",
      "webhookId": "d4810410-0132-4323-a768-6703b5c2ec5f",
      "credentials": {
        "gmailOAuth2": {
          "id": "qYb01XEErdfIxime",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1184,
        -960
      ],
      "id": "426cf7d6-9802-4740-b8a0-68091ade2c71",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        -672
      ],
      "id": "5f8fd0ff-50dd-441e-a11c-15a2ea017ebb",
      "name": "Wait",
      "webhookId": "4174c81e-c011-44bb-a50f-f321d367fab6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ \n            JSON.stringify(\n              \"You are a Senior Data Operations Engineer.\\n\\n\" +\n              \"Analyze this failed pipeline log.\\n\\n\" +\n              \"CURRENT LOG:\\n\" + ($node[\"Chunk logs\"].json.text || \"No log provided\") + \"\\n\\n\" +\n              \"SIMILAR HISTORICAL INCIDENTS:\\n\" + JSON.stringify($node[\"Pinecone Query\"].json.matches || []) + \"\\n\\n\" +\n              \"TASKS:\\n\" +\n              \"1. Identify probable root cause\\n\" +\n              \"2. Explain why failure happened\\n\" +\n              \"3. Suggest fix\\n\" +\n              \"4. Mention severity (LOW/MEDIUM/HIGH)\\n\" +\n              \"5. Give short RCA summary\"\n            ) \n          }}\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        -672
      ],
      "id": "658b0e0f-f666-4b6a-9b26-e7d47e8699a6",
      "name": "Gemini RCA Analysis",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chunk logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk logs": {
      "main": [
        [
          {
            "node": "Gemini Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Embeddings": {
      "main": [
        [
          {
            "node": "Pinecone Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Query": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Gemini RCA Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini RCA Analysis": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3cb44446-cb81-44f0-8564-ad41c685e3a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c9816333a097a3926bba504f765d8be5331c2b903f4cefdbdc2faf9c96b3e53"
  },
  "id": "twguwVlGtYColLcH",
  "tags": []
}